@font-face {
    font-family: 'Montserrat_Bold';
    src: url('../font/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal; /* жирность и другие параметры сами можете выставить */
    font-style: normal;
}

@font-face {
    font-family: 'DM_Sans_Regular';
    src: url('../font/DM Sans/DMSans-Regular.ttf') format('truetype');
    font-weight: normal; /* жирность и другие параметры сами можете выставить */
    font-style: normal;
}

@font-face {
    font-family: 'DM_Sans_Bold';
    src: url('../font/DM Sans/DMSans-Bold.ttf') format('truetype');
    font-weight: normal; /* жирность и другие параметры сами можете выставить */
    font-style: normal;
}

a {
    text-decoration: none !important;
    color: black;
}

body {
    width: 100%;
    background: #F1EEEE;
}

img {
    object-fit: cover;
}

.wrapper {
    background: #F1EEEE;
    padding-top: 50px;
    min-width: 100%;
}

._container {
    width: 80%;
    margin: 0 auto;
    background: #ffff;
}

.__container {
    padding: 0 190px;
}

.header__container {
    display: flex;
    flex-direction: row;
    min-height: 80px;
}

.header__logo {
    margin: auto 0;
    margin-left: 60px;
}

.logo__link {
    font-family: Montserrat_Bold;
    font-size: 20px;
    color: #222222;
}

.type-product__block {
    margin-bottom: 40px;
}

.header__menu_main {
    display: flex;
    margin: auto;
}

.menu__list {
    display: flex;
    flex-direction: row;
    margin: auto 0;
}

.menu__item {
    padding-right: 20px;
}

.menu__item:last-of-type {
    padding-right: 0;
}

.menu__link {
    font-family: DM_Sans_Regular;
    font-size: 16px;
    text-transform: uppercase;
    color: #222222;
}

.header__icon {
    display: flex;
    flex-direction: row;
    margin: auto 0;
    margin-left: 9.45%;
}

.icon__link {
    position: absolute;
    z-index: 1000;
    top: 79px;
    right: 250px;
    transition: all 0.5s ease;
    color: #7C7C7C;
}

.icon__link:hover {
    cursor: pointer;
}

.fa-solid:hover {
    cursor: pointer;
    transition: all 0.5s ease;
}

.main-icon {
    transition: all 0.5s ease;
}

.fa-heart {
    margin: 0 20px;
}

body {
    background: #dfedee;
    transition: all 0.5s ease;
}

.icon__wrapper {
    background: transparent;
    transition: all 0.5s ease;

}

.input {
    border: 0;
    background: transparent;
    width: 0%;
    outline: none;
    font-family: DM_Sans_Regular;
    font-size: 16px;
    padding: 0 5px;
    transition: all 0.5s ease;
    color: #7C7C7C;
    position: relative;
}

.header__icon.header-active {
    margin-left: 8.85%;
}


.input.active {
    border: 1px solid #4B4B4B;
    width: 218px;
    border-radius: 14px;
    transition: all 0.3s ease;
    padding-left: 5px;
}


.carousel-inner {
    max-height: 450px;
    position: relative;
}


.main-screensave__title {
    position: absolute;
    top: 14%;
    font-family: Montserrat_Bold;
    font-size: 38px;
    line-height: 50px;
    width: 523px;
    color: #000000;
    left: 100px;
    margin-bottom: 25px;

}

.main-screensave__description {
    position: absolute;
    top: 29%;
    left: 100px;
    font-family: DM_Sans_Regular;
    font-size: 16px;
}

.main-screensave__button {
    position: absolute;
    top: 36%;
    left: 100px;

}

.shop_now {
    align-items: center;
    width: 100%;
    background: #111111;
    border: none;
    color: #FFFFFF;
    padding: 8px 25px;
    font-family: DM_Sans_Regular;
    font-size: 16px;
    text-transform: uppercase;
}

.shop_now:hover {
    background: transparent;
    border: 1px solid #000000;
    color: black;
}

.page__catalog {
    padding: 46px 0 90px;
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog__item {
    width: 45.5%;
    height: 400px;
    background: #F2EEEB;
    margin-bottom: 35px;
    position: relative;
}

.catalog__img {
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
}

img {
    object-fit: cover;
}

._bg {
    background: #EFF1F3;
}

.third__item {
    width: 293px;
    height: 300px;
    position: absolute;
    top: 6.45%;
    left: 25.7%;
}

.foor__item {
    width: 267px;
    height: 207px;
    position: absolute;
    top: 90px;
    left: 188px;
}

.item-block {
    width: 60%;
    background: rgba(255, 255, 255, .85);
    position: absolute;
    top: 51%;
    left: 23%;
    text-align: center;
    padding: 18px 7px 17px;

}

.block__title {
    font-family: Montserrat_Bold;
    font-size: 28px;
    color: #222222;
}

.block__desc {
    font-family: DM_Sans_Regular;
    font-size: 17px;
    color: #222222;
}

.shop-now__catalog {
    border: none;
    background: #111111;
    color: #FFFFFF;
    font-family: DM_Sans_Regular;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 26px;
}

.shop-now__catalog:hover {
    cursor: pointer;
    background: transparent;
    border: 1px solid #000000;
    color: black;
}

.catalog__item:hover {
    transform: scale(1.1);
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    transition: transform .5s;
}

._title {
    font-family: Montserrat_Bold;
    font-size: 32px;
    color: #000000;
    text-align: center;
}

.category__title {
    margin-bottom: 30px;
}

.category__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.category__link {
    margin-right: 43px;
    font-family: DM_Sans_Regular;
    font-size: 18px;
    color: #686060;
}

.category__link:hover {
    color: #E32C37;
}

.category__menu:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #E1E0E0;
    margin: 25px auto 30px;

}

.sale-catalog__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 90px;
    padding: 0 10px;
}

.sale-catalog__item:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform .5s;
}

.sale-catalog__item {
    width: 230px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px #f0eeed;
}

.page-main__catalog {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.catalog-item__img {
    width: 100%;
    height: 346px;
    margin-bottom: 16px;
}

.sale-catalog__item .catalog-item__img img {
    width: 100%;
    height: 100%;
}

.item__title {
    font-family: DM_Sans_Regular;
    font-size: 16px;
    color: #444444;
    margin-bottom: 11px;
}

.item__price {
    font-family: DM_Sans_Regular;
    font-size: 14px;
    color: #444444;
}

.page-sale__posts {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

}

._first_bq {
    background: #F0EEED;
}

._second_bq {
    background: #F0F0F0;
}

.page-sale__post {
    width: 49%;
    position: relative;
    height: 361px;
    margin-bottom: 130px;
}

.sale-post__img {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 361px;
}

.sale-post__element {
    position: absolute;
    top: 102px;
    left: 40px;

}

.sale-post__price {
    font-family: DM_Sans_Regular;
    font-size: 20px;
    color: #000000;
    margin-bottom: 14px;
}

.sale-post__title {
    font-family: Montserrat_Bold;
    font-size: 20px;
    color: #000000;
    line-height: 25px;
    width: 195px;
    margin-bottom: 40px;
}

.sale-post__button {
    font-family: DM_Sans_Bold;
    font-size: 16px;
    line-height: 21px;
    background: transparent;
    text-transform: uppercase;
    border: none;
}

.sale-post__button:after {
    content: '';
    display: block;
    height: 2px;
    background: #484849;
    width: 43px;
}

.sale-post__button:hover {
    color: #E32C37;
}

.arrivals__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 80px;
    flex-wrap: wrap;
}

.arrivals__item {
    width: 289px;
    margin-right: 28px;
    text-align: center;
}

.arrivals-item__img {
    background: #EDEAED;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    height: 346px;
}

.arrivals-item__img img {
    object-fit: cover;
}

._text {
    text-align: center;
    font-family: DM_Sans_Regular;
    font-size: 20px;
    color: #444444;
}

.arrivals__text {
    margin: 10px 0 61px;

}

.arrivals-item__title {
    font-family: DM_Sans_Regular;
    font-size: 18px;
    line-height: 23.4px;
    color: #444444;
}

.arrivals-item__price {
    font-family: DM_Sans_Regular;
    font-size: 14px;
    line-height: 23.4px;
    color: #444444;
}

.arrivals__item:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform .5s;
}

.page__blog {
    padding-top: 40px;
    background: #FAFAFA;
}

.blog_text {
    padding: 20px 0 60px;
}

.blog__posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 133px;
}

.post__img {
    width: 450px;
    height: 340px;
}

.post__title {
    padding: 20px 0 12px;
    font-family: DM_Sans_Regular;
    font-size: 20px;
    line-height: 26px;
    color: #444444;
}

.post__date {
    font-family: DM_Sans_Regular;
    font-size: 16px;
    line-height: 26px;
    color: #7F7F7F;
}

.page_shop__info {
    background: #131313;
    padding: 44.4px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #FFFFFF;
}

.info__column {
    display: flex;
    flex-direction: row;
}

.info__icon {
    width: 48px;
    height: 44px;
    margin-right: 22px;
    text-align: center;
}

.info__title {
    font-family: Montserrat_Bold;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}

.info__text {
    font-family: DM_Sans_Regular;
    font-size: 16px;
    line-height: 17px;
}

.footer__block {
    background: #FAFAFA;
}

.footer__wrapper {
    display: flex;
    flex-direction: row;
    padding: 120px 0 60px;
    justify-content: space-between;
}

.designedby__block:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #EEEEEE;
}

._logo {
    margin-bottom: 24px;
    font-family: Montserrat_Bold;
    font-size: 24px;
    line-height: 25px;
    color: #1F1F1F;
}

.designedby__block {
    background: #FAFAFA;
}

.column__title {
    margin-bottom: 24px;
    font-family: Montserrat_Bold;
    font-size: 16px;
    line-height: 25px;
    color: #1F1F1F;
}

._footer_text {
    margin-bottom: 24px;
    font-family: DM_Sans_Regular;
    font-size: 18px;
    line-height: 25px;
    max-width: 178px;
    color: #4B4B4B;
    margin-bottom: 20px;
}

.column__phone, .column__email {
    display: flex;
    flex-direction: row;
}

.column-text__bold {
    margin-right: 5px;
    font-family: Montserrat_Bold;
    font-size: 16px;
}

.designedby__text {
    padding: 22px 0 26px;
    font-family: DM_Sans_Regular;
    font-size: 18px;
    line-height: 18px;
    color: #4B4B4B;
}

.main-catalog__lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.main-catalog__list {
    margin-right: 35px;
    text-align: center;
    padding-bottom: 10px;
    box-shadow: 5px 5px 5px #F0EEED;

    margin-bottom: 39px;
}

.main-catalog__list:hover {
    transform: scale(1.15);
    cursor: pointer;
    transition: transform .5s;


}

.product__img {
    width: 245px;
    height: 346px;
}

.product__title {
    font-family: DM_Sans_Regular;
    font-size: 18px;
    line-height: 18px;
    color: #4B4B4B;
    padding: 10px 0;
}

.product__price {
    font-family: DM_Sans_Regular;
    font-size: 16px;
    line-height: 18px;
    color: #4B4B4B;
}

.buy_now {
    margin-top: 7px;
    background: #111111;
    color: #FFFFFF;
    border: none;
    padding: 5px 15px;
    border-radius: 15px;
    font-family: DM_Sans_Regular;
}

.buy_now:hover {
    background: transparent;
    color: #111111;
    font-family: DM_Sans_Regular;
    font-size: 14px;
    border: 1px solid #111111;
}

.filter__block {
    padding: 0 0 0 35px;
}

._filter__title {
    color: #111111;
    font-family: DM_Sans_Regular;
    font-size: 20px;
    padding-left: 10px;
    text-align: left;
}

.price__input {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.price__input-main {
    border-radius: 15px;
    margin-right: 10px;
    padding: 3px 7px;
}

.price__input-main:last-of-type {
    margin-right: 0;
}

.price__input-main {
    width: 95px;
    color: #1F1F1F;
    font-family: DM_Sans_Regular;

}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

}

.item__checkbox {
    margin-bottom: 10px;
}

label {
    font-family: DM_Sans_Regular;
    font-size: 16px;
}

.custom-checkbox + label {
    display: inline-flex;

    align-items: center;
    user-select: none;
}

.custom-checkbox + label::before {
    content: '';

    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #b3d7ff;
}

.custom-checkbox:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.custom-checkbox:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked) + label::before {
    border-color: #80bdff;
}

.custom-checkbox:disabled + label::before {
    background-color: #e9ecef;
}

.brands__block {
    margin-bottom: 40px;
}

.type__item {
    margin-bottom: 10px;
}

.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-radio + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-radio + label::before {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-radio:not(:disabled):not(:checked) + label:hover::before {
    border-color: #b3d7ff;
}

.custom-radio:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.custom-radio:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-radio:focus:not(:checked) + label::before {
    border-color: #80bdff;
}

.custom-radio:checked + label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-radio:disabled + label::before {
    background-color: #e9ecef;
}

.find__filter {
    margin: 10px 0 10px 30px;
    background: #111111;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    padding: 5px 18px;
    border-radius: 16px;
    font-family: DM_Sans_Regular;
}

.find__filter:hover {
    background: transparent;
    color: #111111;
    font-family: DM_Sans_Regular;
    border: 1px solid #111111;
}

@media (max-width: 1642px ) {


    .header__menu {
        display: flex;
        margin: auto 0;
    }

    .main-screensave__title {
        font-size: 2.5vw;
        line-height: 3.1vw;
    }

    .main-screensave__description {
        top: 32%;
    }

    .main-screensave__button {
        top: 38.5%
    }

    .catalog__item {
        height: 24vw;
    }

    .item-block {
        left: 20%;
        top: 57%;
        padding-top: 10px;

        padding-bottom: 13px;
    }

    .block__title {
        font-size: 1.6vw;
        margin-bottom: 0;
    }

    .block__desc {
        font-size: 1vw;
        margin-bottom: 7px;
    }

    .shop-now__catalog {
        font-size: 14px;
        padding: 7px 15px;
        margin-top: 3px;
    }

    .foor__item, .third__item {
        width: 47.1%;
        top: 10%;
        height: 45.4%;
        left: 28%;
        object-fit: contain;
    }

    .icon__link {
        right: 200px;
    }
}

@media (max-width: 1224px ) {
    .__container {
        padding: 0 90px;
    }

    .wrapper {
        padding-top: 40px;
    }

    .header__logo {
        margin-left: 55px;
    }

    .menu__link {
        font-size: 14px;
    }

    .fa-heart {
        margin: 0 15px;
    }

    .main-screensave__title {
        font-size: 3vw;
        line-height: 3.5vw;
    }

    .main-screensave__button {
        top: 40%
    }

    .item-block {
        top: 50%;
        padding-bottom: 10px;
    }

    .shop-now__catalog {
        font-size: 13px;
        padding: 6px 11px;
    }

    .icon__link {
        top: 69px;
        right: 160px;
    }

    .block__desc {
        font-size: 13px;
    }

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 110px;
    overflow: auto;
    margin-left: -15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

@media (max-width: 992px ) {
    .__container {
        padding: 0 50px;
    }

    ._container {
        width: 85%;
    }

    .wrapper {
        padding-top: 30px;
    }

    .header__logo {
        margin-left: 40px;
    }

    .menu__link {
        font-size: 16px;
    }

    .fa-heart {
        margin: 0 20px;
    }

    .main-screensave__title {
        width: 56%;
        left: 7.1vw;
    }

    .main-screensave__description {
        top: 34%;
        left: 7.1vw;
    }

    .main-screensave__button {
        top: 44%;
        left: 7.1vw;
    }

    .shop_now {
        font-size: 16px;
        padding: 10px 15px;
    }

    .main__block:hover .dropdown-content {
        display: block;
    }

    .main-item__block {
        display: none;
    }

    .icon__link {
        top: 59px;
        right: 132px;
    }

    .catalog__item {
        width: 47.5%;
        height: 25vw;
    }

    .catalog__item {
        width: 48.5%;
        height: 28vw;
    }

    .item-block {
        top: 48%;
        max-width: 215px;
    }

    .block__desc {
        font-size: 14px;
        margin: 7px 0;
    }
}

@media (max-width: 767px ) {
    .__container {
        padding: 0 10px;
    }

    ._container {
        width: 95%;
    }

    .wrapper {
        padding-top: 20px;
    }

    .header__logo {
        margin-left: 2.6%;
    }

    .menu__list {
        padding-left: 20px;
    }

    .menu__link {
        font-size: 12px;
    }

    .menu__item {
        padding-right: 15px;
    }

    .logo__link {
        font-size: 16px;
    }

    .fa-solid {
        font-size: 14px;

    }

    .main-screensave__title {
        top: 13vw;
        font-size: 4.5vw;
        line-height: 5vw;
        width: 50vw;
        left: 8%;
    }

    .main-screensave__description {
        top: 25vw;
        left: 8%;
        font-size: 2vw;
    }

    .main-screensave__button {
        top: 31vw;
        left: 8%;
        width: 19%;
    }

    .shop_now {
        font-size: 2.2vw;
        padding: 8px 9px;
    }

    .header__container {
        min-height: 60px;
    }

    .icon__link {
        top: 39px;
        right: 60px;
    }

    .item_first.catalog__item {
        width: 58%;
        height: 37.6vw;

    }

    .catalog__item {
        width: 40%;
        height: 37.6vw;
        margin-bottom: 13px;

    }

    .catalog__item:hover {
        transform: scale(1);
    }

    .item-block {
        background: rgba(255, 255, 255, 0.8);
        top: 15vw;
        min-width: 17.8vw;
    }

    .block__title {
        font-size: 14px;
    }

    .block__desc {
        font-size: 12px;
    }

    .shop-now__catalog {
        font-size: 11px;
    }

    .odd__block {
        min-width: 121px;
    }


}

.header__burger {
    display: none;
}

@media (max-width: 479px ) {
    .logo__link {
        position: relative;
        z-index: 10;
    }

    .mobile_size {
        display: none;
    }

    .main__block:hover .dropdown-content {
        display: none;
    }

    .header__burger {
        display: block;
        position: absolute;
        height: 20px;
        width: 30px;
        top: 39px;
        right: 14px;
        margin-right: 15px;
        z-index: 5;
    }

    .header__burger:after, .header__burger:before {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        color: black;
        right: 0;
        transition: all 0.5s ease;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger span {
        position: absolute;
        right: 0;
        background-color: black;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.5s ease;
    }

    .header__menu {
        position: fixed;
        top: -100%;
        justify-content: center;
        right: 0;

    }

    .header__burger.active_bur:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active_bur:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.active_bur span {
        transform: scale(0);
    }

    .header__menu.active_bur .menu__list {
        flex-direction: column;
        justify-content: right;

    }

    .header__menu.active_bur {
        text-align: center;
        top: 10px;
        padding-top: 25px;
        z-index: 4;
        width: 100%;
        background: rgba(255, 255, 255, .99);
        right: 0;
        transition: all 0.5s ease 0s;
    }

    .header__menu.active_bur .menu__list .menu__item {
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .header__menu.active_bur .menu__list .menu__item .menu__link {
        color: black;
        font-size: 22px;
        margin-top: 10px;
    }

    .header__container {
        min-height: 60px;
    }

    .catalog__list {
        justify-content: center;
    }

    .catalog__item, .item_first.catalog__item {
        width: 84%;
        height: 50.6vw;
        margin-bottom: 13px;
    }

    .icon__link {
        top: 39px;
        right: 60px;
    }

    .item-block {
        background: rgba(255, 255, 255, 0.8);
        top: 15vw;
        min-width: 17.8vw;
    }

    .block__title {
        font-size: 14px;
    }

    .block__desc {
        font-size: 12px;
    }

    .shop-now__catalog {
        font-size: 11px;
    }
}

@media (max-width: 1642px ) {
    .sale-catalog__items {
        padding: 0;
    }

    .sale-catalog__item {
        width: 13.1vw;
    }

    .catalog-item__img {
        height: 18.5vw;
        margin-bottom: 10px;
    }

    .item__title {
        overflow: hidden;

    }
}


@media (max-width: 1224px ) {

    .sale-catalog__item {
        min-width: 160px;

    }

    .catalog-item__img {
        min-width: 160px;
        min-height: 283px;
    }
}


@media (max-width: 992px ) {
    ._title {
        font-size: 28px;
    }

    .category__link {
        font-size: 16px;
        margin-right: 20px;
    }

}


@media (max-width: 767px ) {
    .category__link {
        font-size: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 479px ) {
    ._title {
        font-size: 20px;
    }

    .category__list {
        flex-wrap: wrap;
    }

    .sale-catalog__item {
        width: 51.1vw;
    }

    .catalog-item__img {
        height: 18.5vw;
        margin-bottom: 10px;
    }

}
.swiper {
  width: 600px;
  height: 300px;
}