{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" href="{% static 'css/reset.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/style.css'%}"/>
    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>

    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/regular.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="wrapper">
    {% include 'web/header.html' %}
    <main class="page">
        <section class="page-main__catalog _container ">
            <div class="main-catalog__lists __container">
                {% for item in all_product %}
                <a href="">
                    <div class="main-catalog__list">
                        <img src="{{ item.img.url }}" alt="" class="product__img">
                        <div class="product__title">
                            {{ item.title }}
                        </div>
                        <div class="product__price">
                            ${{ item.price }}
                        </div>
                        <div class="product__buy">
                            <button class="buy_now">
                                BUY
                            </button>
                        </div>
                    </div>
                </a>

                {% endfor %}
            </div>
        </section>
    </main>
</div>
</body>
</html>