{%load static%}
<footer class="footer__block _container __container">
    <div class="footer__wrapper">
        <div class="footer__column">
            <div class=" _logo">
                Jesco.
            </div>
            <div class="_footer_text">
                55 Gallaxy Enque,
                2487 steet, 34567 NY
            </div>
            <div class="column__phone">
                <p class="column-text__bold">
                    Phone:
                </p>
                <p class="_footer_text">
                    +8801763204103
                </p>
            </div>
            <div class="column__email">
                <p class="column-text__bold">
                    Email:
                </p>
                <p class="_footer_text">
                    mhjibon01763@gmail.com
                </p>
            </div>
        </div>
        <div class="footer__column">
            <div class="column__title">
                INFORMATION
            </div>
            <p >
                <a href="" class="_footer_text">
                    About us
                </a>
            </p>
            <p>
                <a href="" class="_footer_text">
                    Contact us
                </a>
            </p>
            <p>
                <a href="" class="_footer_text">
                    Career
                </a>
            </p>
            <p>
                <a href="" class="_footer_text">
                   Order & Returns
                </a>
            </p>
            <p>
                <a href="" class="_footer_text">
                   My Account
                </a>
            </p>

        </div>
        <div class="footer__column">
            <div class="column__title">
                QUICK SHOP
            </div>
            <p >
                <a href="" class="_footer_text">
                    Fashion
                </a>
            </p>
            <p>
                <a href="" class="_footer_text">
                    Men
                </a>
            </p>
            <p>
                <a href="" class="_footer_text">
                    Furniture
                </a>
            </p>
            <p>
                <a href="" class="_footer_text">
                   Home Decor
                </a>
            </p>
            <p>
                <a href="" class="_footer_text">
                   Shoes
                </a>
            </p>

        </div>
        <div class="footer__column">
            <div class="column__title">
                CUSTOMER SERVICES
            </div>
            <p >
                <a href="" class="_footer_text">
                    Help & FAQs
                </a>
            </p>
            <p>
                <a href="" class="_footer_text">
                    Returns Policy
                </a>
            </p>
            <p>
                <a href="" class="_footer_text">
                    Terms & Conditions
                </a>
            </p>
            <p>
                <a href="" class="_footer_text">
                   Privacy Policy
                </a>
            </p>
            <p>
                <a href="" class="_footer_text">
                   Support Center
                </a>
            </p>

        </div>

    </div>
    <div class="designedby__block ">
        .
        <div class="designedby__text">
            © 2021 Chaanbi. All Rights Reserved. Designed by MH Jibon.
        </div>
        <div class="paycard__block">

        </div>
    </div>
</footer>