{%load static%}
<header>
    <div class="header__container _container">
        <div class="header__logo">
            <a href="" class="logo__link">
                Jesco
            </a>
        </div>
        <div class="header__menu menu">
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="{% url 'catalog' %}" class="menu__link">
                        Men's
                    </a>
                </li>
                <li class="menu__item">
                    <a href="{% url 'catalog' %}" class="menu__link">
                        Women's
                    </a>
                </li>
                <li class="menu__item">
                    <a href="{% url 'catalog' %}" class="menu__link">
                        Kid's
                    </a>
                </li>
                <li class="menu__item">
                    <a href="{% url 'catalog' %}" class="menu__link">
                        Collections
                    </a>
                </li>
                <li class="menu__item">
                    <a href="{% url 'catalog' %}" class="menu__link">
                        Contacts
                    </a>
                </li>
            </ul>
        </div>

        <div class="header__icon">
            <div class="main-icon ">
                <a href="" class="icon__link">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>

             </div>
            <div class="main-icon">
                <a href="" class="icon__link">
                    <i class="fa-solid fa-heart"></i>
                </a>

            </div>
            <div class="main-icon">
                <a href="" class="icon__link">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>

            </div>
        </div>
    </div>

</header>